<div class="stage_header"><h2>Stages</h2></div>
  <div class="stages-content">
    <% @stages.each do |stage| %>
      <div class="stage-card">
        <div class="stage-img"><%= image_tag stage.image_url %></div>
        <div class="stage-name"><h2><%= link_to stage.name, stage_path(stage.id) %></h2></div>
      </div>
    <% end %>
  </div>
</div>
