/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Lato|Lobster');

#sitename {
  font-family: "Lobster", cursive, sans-serif;
  font-size: 100px;
  text-align: center;
  color: #FFD700;
  background-color: #0267C1;
}

h1, h2 {
  font-family: "Lobster", sans-serif;
  font-size: 60px;
  font-color: #0267C1;

}

h3 {
  font-family: "Lato", sans-serif;
  font-color: #2B9EB3;
  font-size: 35px;
}

p{
  font-family: "Lato", sans-serif;
  font-color: #3C3A3F;
  font-size: 20;
}

body {
  background-color: #FF5724;
  max-width: 1000px;
  margin: auto;
}

a {

}
